@import "../../layout/reset.css";
@import "../../layout/fonts.css";
@import "../../layout/nav.css";
@import "layout/footer.css";

header.masthead {
    width: 100vw;
    background: url(../../../img/faq_background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    opacity: 0.7;
}

header.masthead,
header.masthead .post-heading,
header.masthead .site-heading {
    color: white
}

header.masthead .site-heading {
    text-align: center
}

header.masthead h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0
}

header.masthead .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media only screen and (min-width: 768px) {
    header.masthead h1,
    header.masthead .site-heading h1 {
        font-size: 80px
    }
}

header.masthead .post-heading h1 {
    font-size: 35px
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif
}

header.masthead .post-heading .meta a {
    color: #fff
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px
    }

    header.masthead .post-heading .subheading {
        font-size: 30px
    }
}

div.title {
    position: relative;
    margin-top: 280px;
}

div.title > h1 {
    font-family: Cairo-Bold, serif;
    font-size: 50px;
    margin-bottom: 10px;
}

div.content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

div.content h1 {
    font-family: Cairo-Bold, serif;
    font-size: 30px;
    color: #007183;
    margin-top: 50px;
    margin-bottom: 10px;
}

div.content h1 > i.heading-icon {
    font-size: 50px;
    color: #007183;
}

div.content p {
    font-family: Cairo-Regular, serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-top: 5px;
}

table {
    display: inline-table !important;
}

td, th {
    font-family: Cairo-Regular, serif;
    font-size: 18px;
}

th {
    font-size: 20px;
    color: #ffffff;
}

thead.thead-color {
    background-color: #007183;
}

@media only screen and (max-width: 575px) {
    table {
        display: block !important;
    }

    div.title > h1 {
        font-size: 45px;
    }

    div.content p {
        font-size: 15px;
    }

    td, th {
        font-size: 15px;
    }

    div.content h1 {
        font-size: 25px;
    }

    div.content h1 > i.heading-icon {
        font-size: 40px;
    }
}