@import "../../layout/reset.css";
@import "../../layout/fonts.css";
@import "../../layout/nav.css";
@import "../../layout/contact.css";
@import "../../layout/newsletter.css";
@import "layout/footer.css";

header.masthead {
    width: 100vw;
    height: 100vh;
    background: url(../../../img/erasmus_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    opacity: 0.7;
}

header.masthead,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 140px 0 140px;
    color: white
}

@media only screen and (min-width: 768px) {
    header.masthead,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 140px 0
    }
}

header.masthead .site-heading {
    text-align: center
}

header.masthead h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0
}

header.masthead .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media only screen and (min-width: 768px) {
    header.masthead h1,
    header.masthead .site-heading h1 {
        font-size: 80px
    }
}

header.masthead .post-heading h1 {
    font-size: 35px
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif
}

header.masthead .post-heading .meta a {
    color: #fff
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px
    }

    header.masthead .post-heading .subheading {
        font-size: 30px
    }
}

div.search-modal h1 {
    font-family: Cairo-Bold, serif;
    font-style: italic;
    font-size: 35px;
    text-align: left;
    margin-bottom: 30px;
    color: #000000;
}

div.search-modal {
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -7px rgba(0, 0, 0, 0.75);
}

div.input-items {
    overflow: auto;
}

div.input-items > form > label {
    position: absolute;
    font-family: Cairo-SemiBold, serif;
    color: #000;
}

div.input-items > form > input, select {
    width: 49%;
    height: 50px;
    position: relative;
    top: 23px;
    font-family: Cairo-Regular, serif;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 35px;
    border: solid 1px #a6a6a6;
}

div.input-items > form > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../img/drop_down_arrow.gif) 96% / 15% no-repeat;
    background-size: 25px 15px;
}

div.input-items > form > input, select > option {
    font-family: Cairo-Regular, serif;
    font-size: 20px;
}

div.input-items > form > input[name="country"], input[name="university"], input[name="from"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    left: 2px;
}

div.input-items > form > select[name="stays"], select[name="rating"], input[name="to"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    right: 3px;
}

div.input-items > form > select[name="stays"], select[name="rating"]::selection {
    font-family: Cairo-Regular, serif;
    font-size: 20px;
}

div.input-items > form > select[name="rating"], select[name="stays"]::selection {
    font-family: Cairo-Regular, serif;
    font-size: 20px;
}

div.input-items > form > input[type="submit"] {
    width: 110px;
    float: right;
    font-family: Cairo-Bold, serif;
    border: solid 1px #898989;
    border-radius: 5px;
    background: #007183;
    color: white;
}

div.input-items > form > input[type="submit"]:hover {
    background: #004351;
}

div#current-opportunities h2.section-heading,
div#partner-universities h2.section-heading,
div#contact h2.section-heading {
    font-family: Cairo-Bold, serif;
    font-style: italic;
    font-size: 35px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
}

@media only screen and (max-width: 992px) {
    div#current-opportunities h2.section-heading,
    div#partner-universities h2.section-heading,
    div#contact h2.section-heading {
        text-align: center;
    }
}

div#contact h2.section-heading {
    margin-bottom: 0;
}

div#current-opportunities img {
    width: 250px;
    height: 170px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
    div#current-opportunities img {
        width: 350px;
        height: 230px;
    }
}

@media only screen and (max-width: 768px) {
    div#current-opportunities img {
        width: 250px;
        height: 170px;
    }
}

@media only screen and (max-width: 575px) {
    div#current-opportunities img {
        width: 350px;
        height: 230px;
    }
}

div#current-opportunities a.current-opportunitie-name {
    color: #000000;
    font-family: Cairo-Bold, serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    margin-bottom: 5px;
}

div#current-opportunities a.current-opportunitie-name:hover {
    color: #555555;
}

div#current-opportunities p.current-opportunitie-date {
    font-family: Cairo-Light, serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#current-opportunities p.current-opportunitie-comments {
    font-family: Cairo-Regular, serif;
    font-size: 18px;
    color: #007183;
    margin-bottom: 20px;
}

div#current-opportunities div.more-opportunitie {
    margin-top: 30px;
}

div#current-opportunities div.more-opportunitie a {
    font-family: Cairo-Light, serif;
    font-size: 18px;
    text-decoration: none;
    color: #23b9ce;
}

div#current-opportunities div.more-opportunitie a:hover {
    color: #239691;
}

.jvectormap-container {
    height: 100%;
    width: 100%;
}

.jqvmap-zoomout, .jqvmap-zoomin {
    display: none;
}

.newsletter-width {
    padding: 0;
}