@import "../../layout/reset.css";
@import "../../layout/fonts.css";
@import "../../layout/nav.css";
@import "../../layout/contact.css";
@import "../../layout/newsletter.css";
@import "layout/footer.css";

header.masthead {
    width: 100vw;
    background: url(../../../img/erasmus_background.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    opacity: 0.80;
}

header.masthead,
header.masthead .post-heading,
header.masthead .site-heading {
    color: white
}

header.masthead .site-heading {
    text-align: center
}

header.masthead h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0
}

header.masthead .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: Cairo-Regular, serif;
}

@media only screen and (min-width: 768px) {
    header.masthead h1,
    header.masthead .site-heading h1 {
        font-size: 80px
    }
}

header.masthead .post-heading h1 {
    font-size: 35px
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: Cairo-Regular, serif;
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Cairo-Regular, serif;
}

header.masthead .post-heading .meta a {
    color: #fff
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px
    }

    header.masthead .post-heading .subheading {
        font-size: 30px
    }
}

div.title {
    position: relative;
    margin-top: 280px;
}

div.title > h1 {
    font-family: Cairo-Bold, serif;
    font-size: 50px;
    margin-bottom: 10px;
}

div.content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

div#kontakt h2.section-heading {
    font-family: Cairo-Bold, serif;
    font-style: italic;
    font-size: 35px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
}

@media only screen and (max-width: 992px) {
    div#kontakt h2.section-heading {
        text-align: center;
    }
}

div#opportunities {
    margin-top: 50px;
}

div#opportunities .badge.badge-secondary {
    color: #ffffff;
}

div#opportunities .badge-secondary {
    background-color: #007183;
}

div#opportunities img {
    width: 250px;
    height: 170px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
    div#opportunities img {
        width: 350px;
        height: 230px;
    }
}

@media only screen and (max-width: 768px) {
    div#opportunities img {
        width: 250px;
        height: 170px;
    }
}

@media only screen and (max-width: 575px) {
    div#opportunities img {
        width: 350px;
        height: 230px;
    }

    div.title > h1 {
        font-size: 45px;
    }
}

div#opportunities a.opportunitie-name {
    color: #000000;
    font-family: Cairo-Bold, serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    margin-bottom: 5px;
}

div#opportunities a.opportunitie-name:hover {
    color: #555555;
}

div#opportunities p.opportunitie-date {
    font-family: Cairo-Light, serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div#opportunities p.opportunitie-comments {
    font-family: Cairo-Regular, serif;
    font-size: 18px;
    color: #007183;
    margin-bottom: 20px;
}

div#opportunities div.more-opportunitie {
    margin-top: 30px;
    width: 100%;
}

div#opportunities div.more-opportunitie a {
    font-family: Cairo-Light, serif;
    font-size: 18px;
    text-decoration: none;
    color: #23b9ce;
}

div#opportunities div.more-opportunitie a:hover {
    color: #239691;
}

form#search > div.country,
form#search > div.type,
form#search > div.university,
form#search > div.rating,
form#search > div.grand,
form#search > div.category,
form#search > div.from,
form#search > div.to,
form#search > div.search {
    display: inline-block;
    margin-left: -5px;
    margin-bottom: 30px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

.typeahead, .tt-query, .tt-hint {
    height: 40px;
    font-family: Cairo-Regular, serif;
    font-size: 20px;
    padding-left: 10px;
    border: solid 1px #a6a6a6;
}

.typeahead {
    background-color: #FFFFFF;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    width: 163px;
    font-family: Cairo-Regular, serif;
    font-size: 18px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    font-size: 18px;
    padding: 3px 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #007183;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}

form#search {
    text-align: center;
}

form#search label {
    font-family: Cairo-SemiBold, serif;
    color: #000;
}

form#search > div input, select {
    display: block;
    width: 163px;
    height: 50px;
    font-family: Cairo-Regular, serif;
    font-size: 20px;
    padding-left: 10px;
    border: solid 1px #a6a6a6;
}

form#search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../img/drop_down_arrow.gif) 96% / 15% no-repeat;
    background-size: 25px 15px;
}

form#search input, select > option {
    font-family: Cairo-Regular, serif;
    font-size: 20px;
}

form#search input[type="submit"] {
    width: 350px;
    font-family: Cairo-Bold, serif;
    border: solid 1px #898989;
    border-radius: 5px;
    background: #007183;
    color: white;
    margin-bottom: 30px;
}

form#search input[type="submit"]:hover {
    background: #004351;
}

.country, .university {
    width: 155px;
}

h2.no-results {
    font-size: 20px;
    margin: 50px;
    font-family: Cairo-Regular, serif;
}

ul.pagination {
    width: 100%;
}

ul.pagination > li {
    margin: 0 auto;
}

.disabled {
    font-family: Cairo-Light, serif;
    font-size: 18px;
    text-decoration: none;
    color: #007183;
}

@media only screen and (max-width: 678px) {
    input, select{
        width: 90vw !important;
    }

    form#search > div.country,
    form#search > div.type,
    form#search > div.university,
    form#search > div.rating,
    form#search > div.grand,
    form#search > div.category,
    form#search > div.from,
    form#search > div.to,
    form#search > div.search {
        margin-left: 0;
    }

    .country, .university {
        width: 90vw;
    }
}