footer .footer-background {
    margin-top: 30px;
    background-color: #007183;
}

footer#footer ul.footer-navigation, footer#footer ul.social-navigation {
    padding: 23px;
}

footer#footer ul.footer-navigation li, footer#footer ul.social-navigation li {
    display: inline;
}

footer#footer ul.footer-navigation li > a, footer#footer ul.social-navigation li > a {
    font-family: Cairo-SemiBold, serif;
    font-size: 20px;
    margin-right: 30px;
    color: #ffffff;
}

footer#footer ul.social-navigation li > a {
    font-size: 30px;
}

footer#footer ul.footer-navigation li > a:hover, footer#footer ul.social-navigation li > a:hover {
    text-decoration: none;
    color: #00b0cc;
}

@media only screen and (max-width: 1200px) {
    footer#footer ul.footer-navigation, footer#footer ul.social-navigation {
        text-align: center;
    }
}

@media only screen and (max-width: 575px) {
    footer#footer ul.footer-navigation li > a, footer#footer ul.social-navigation li > a {
        margin-right: 20px;
    }
}