@import "../../layout/reset.css";
@import "../../layout/fonts.css";
@import "../../layout/student.css";

div.input-items {
    width: 100%;
}

div.input-items form > label {
    position: relative;
    width: 70%;
    display: block;
    margin: 0 auto;
    font-family: Cairo-SemiBold, serif;
    color: #000;
}

div.input-items form > input, div.input-items form .sending-button > input {
    width: 70%;
    height: 50px;
    position: relative;
    display: block;
    font-family: Cairo-Regular, serif;
    font-size: 20px;
    padding-left: 10px;
    margin: 0 auto 20px;
    border: solid 1px #a6a6a6;
}

div.input-items form .sending-button {
    width: 70%;
    height: 50px;
    margin: 0 auto;
}

div.input-items form .ql-toolbar.ql-snow, div.input-items form #editor-blog, div.input-items form .error {
    width: 70%;
    margin: 0 auto;
}

div.input-items form #editor-blog{
    margin-bottom: 20px;
}

div.input-items form .error{
    position: relative;
    bottom: 15px;
}

div.input-items form .sending-button > input[type="submit"] {
    width: 110px;
    height: 50px;
    display: block;
    float: right;
    font-family: Cairo-Bold, serif;
    margin-top: 30px;
    border: solid 1px #898989;
    border-radius: 5px;
    background: #007183;
    color: white;
}

div.input-items form .sending-button > input[type="submit"]:hover {
    background: #004351;
}