@import "../../layout/reset.css";
@import "../../layout/fonts.css";

body {
    font-family: Cairo-Regular, serif;
    line-height: 22px;
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Cairo-Bold, serif;
    font-weight: 700;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    margin-top: 30px;
    font-size: 3.5rem;
}

a {
    color: #007183;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 20px;
}

#mainNav .navbar-nav {
    margin-top: 30px;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    color: #343a40;
    background: url("../../../img/toogle_navigation-white.png") no-repeat;
}

h5#logged-user {
    font-family: Cairo-SemiBold, serif;
    color: #ffffff;
    font-size: 20px;
}

@media (min-width: 992px) {
    #mainNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #mainNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #mainNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #mainNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #mainNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #mainNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #007183;
    background-color: #007183;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: #007183;
    cursor: pointer;
}

.btn-green {
    border-color: #007183;
    color: #007183;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #007183;
    color: #fff;
    cursor: pointer;
}

.bg-primary {
    background-color: #007183 !important;
}

.text-primary {
    color: #007183 !important;
}

.text-info {
    margin-bottom: 10px;
}

#experience {
    background: #f5f5f5;
}

#experience .card .resume-content > a {
    font-family: Cairo-SemiBold, serif;
    font-size: 30px;
    text-transform: none;
    color: #555;
}

.resume-date {
    margin-top: 10px;
}

.resume-date > ul {
    margin-top: 40px;
}

.resume-date > ul > li {
    display: inline;
    margin-left: 10px;
}

.resume-date > ul > li > a{
    color: #ffffff;
    background-color: #007183;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
}

#skills {
    background-size: cover;
    background: url('../../../img/student_background.jpg') no-repeat center center;
}

.skill-cover {
    background-color: rgba(31, 31, 31, 0.68);
}

.skill-cover h3 {
    font-family: Cairo-SemiBold, serif;
    font-size: 35px;
    margin-bottom: 40px;
}

.skill-item {
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(144, 144, 144, 0.78);
}

.skill-item i {
    color: #003f49;
}

.skill-item h2 {
    color: #fff;
    font-family: Cairo-SemiBold, serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.skill-item p {
    color: #fff;
    font-family: Cairo-Regular, serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    margin-top: 0;
}

#contact {
    padding: 50px 0;
}

#contact .contact-cont h3 {
    color: #555;
    font-size: 45px;
}

#contact .contact-cont p {
    padding-right: 20px;
    font-size: 15px;
}

#contact .contact-cont2 address,
#contact .contact-cont2 address a {
    color: #666;
}

.con-form input {
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
    margin-top: 30px;
}

.con-form textarea {
    width: 100%;
    height: 200px;
    margin: 30px 0;
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
}

.contact-side-desc {
    padding-top: 40px;
}

.contact-box-desc h3 {
    color: #555;
}

@media (max-width: 767px) {
    #contact-p2 .con-form input {
        margin-bottom: 30px;
    }

    .con-form textarea {
        width: 100%;
        height: 200px;
        margin: 10px 0 30px 0;
        border-color: #ccc;
        border-radius: 0;
        color: #717171;
    }

    .contact-box-desc {
        text-align: center;
    }
}
