@import "../../layout/reset.css";
@import "../../layout/fonts.css";
@import "../../layout/profil.css";

#mobility-title {
    background: #f5f5f5;
    height: 100vh;
}

#mobility-title .card .mobility-content > a {
    font-family: Cairo-SemiBold, serif;
    font-size: 30px;
    text-transform: none;
    color: #002a31;
}

#mobility-title .card .mobility-content > a:hover {
    text-decoration: none;
    color: #005e6e;
}

.mobility {
    margin-top: 10px;
}

.mobility > ul {
    margin-top: 40px;
}

.mobility > ul > li {
    display: inline;
    margin-left: 10px;
}

.mobility > ul > li > a {
    color: #ffffff;
    background-color: #007183;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
}

.mobility > ul > li > a:hover {
    text-decoration: none;
    background-color: #004253;
}

@media only screen and (max-width: 1330px) {
    .mobility > ul > li {
        display: block;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 772px) {
    .mobility > ul > li {
        display: inline;
    }
}

@media only screen and (max-width: 500px) {
    .mobility > ul > li {
        display: block;
    }
}

table {
    display: inline-table !important;
}

td, th {
    font-family: Cairo-Regular, serif;
    font-size: 18px;
}

td > a:hover {
    text-decoration: none;
    color: #004253;
}

th {
    font-size: 20px;
    color: #ffffff;
}

thead.thead-color {
    background-color: #007183;
}

@media only screen and (max-width: 575px) {
    table {
        display: block !important;
    }
}