body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------ADMIN general-----------------------------*/
.admin-base-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px auto 45px;
    background: #ffffff;
    height: 100vh;
    grid-template-areas:
            "header title title title title title title title title"
            "header content content content content content content content content"
            "header footer footer footer footer footer footer footer footer";
}

.admin-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-area: content;
    position: relative;
}

.admin-header{
    background-color: #007183;
    grid-area: header;
    box-shadow: 11px 12px 7px #979797;
}

.admin-footer{
    grid-area: footer;
    display: flex;
    align-items: center;
}

.admin-footer{
    margin-left: auto;
    margin-right: auto;
}

.admin-footer > p {
    margin-bottom: 0;
    font-size: 14px;
}

.admin-edit-div{
    padding: 20px;
    width: 350px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}


/*-----------------ADMIN table-----------------------*/
.admin-table{
    width: 500px;
    background: #FFFFFF;
    border-radius: 7px;
}

table.admin-table tr th a{
    text-decoration: none;
}

.image-in-table{
    width: 100px;
}

/*-----------------Title--------------------------------*/
.admin-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    grid-area: title;
}

.admin-title-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-title-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid grey;
    padding-left: 10px;
}

.admin-title-user > img{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.admin-title-user > p {
    margin-bottom: 0;
}


/*-----------------SideMenu--------------------------------*/
.admin-header > ul > a .sidebar-brand-icon i.admin-ukf-logo{
    display: block;
    background: url("../../img/ukf_logo_white.png") no-repeat;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
}
.sidebar-brand{
    margin-top: 10px;
}

.dashboard-admin > a > span{
    font-size: 20px;
}

.admin-menu-links-hover:hover{
    background-color: #0093aadb;
}

span[class='dashboard-admin']{
    font-size: 30px;
}
/*-----------------END ADMIN general------------------------*/





/*-----------------Dashboard---------------------------------*/
.admin-welcome-page{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px auto 45px;
    background: #ffffff;
    height: 100vh;
    grid-template-areas:
    "header title title title title title title title title"
    "header content content content content content content content content"
    "header footer footer footer footer footer footer footer footer";
}

.admin-welcome-content{
    display: flex;
    flex-direction: column;
    grid-area: content;
    position: relative;
    padding: 20px 20px 20px 50px;
}

.admin-welcome-content > .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.summary-1-sections{
    margin-top: auto;
    margin-bottom: auto;
}

.summary-1-cards{
    display: grid;
}

.card-body-item{
    margin-left: 20px;
    margin-right: 20px;
}

.summary-1-sections > div{
    margin-bottom: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
}

.card-graph{
    justify-content: center;
}

/*-----------------Users-------------------------*/
.user-form-actions{
    width: 200px;
}

.user-table-wrapper{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.user-table-wrapper .user-table-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-table-wrapper .user-table-title button.btn-add{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    padding-left: 20px;
}






a[class="page-link"]{
    color: #007183;
}

a[class='page-link']:hover{
    color: #339F98;
}

.admin-users-pagination {
    display: block;
}

.admin-users-pagination > ul {
    justify-content: center;
}

.admin-projects-diagram{
    padding-left: 12px;
}

.admin-projects-diagram > div {
    min-width: 500px;
    width: 500px;
}



/*-----------------Mobility page--------------------*/
.admin-mobilities-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-mobilities-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-----------------Roles page-------------------------*/
.admin-roles-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-roles-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*---------------Mobility category page------------------*/
.admin-mobility-category-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 30px;
}

.admin-mobility-category-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

/*-----Add mobility type----*/
.add-mobility-form{
    margin-left: auto;
    margin-right: auto;
}

.add-mobility-form > form.form-add-mobility-type{
    padding: 30px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}

.form-add-mobility-type > h3{
    color: #565960;
}

.admin-form-input{
    color: #0b0b0b;
}

.form-group-button{
    text-align: right;
    margin-top: 3rem;
}

.form-group-button > button{
    padding: 5px 30px;
}
/*-----Edit mobility type----*/


/*-----------------Mobility type page---------------------*/
.admin-mobility-type-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-mobility-type-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-----------------Blogs page------------------------------*/
.admin-blogs-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-blogs-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-----------------Universities page--------------------*/
.admin-universities-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-universities-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-----------------Images page--------------------------*/
.admin-images-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-images-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-------------ADMIN FAQ page----------------------------*/
.admin-FAQ-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-images-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*-------------Office_hours page------------------------*/
.admin-office-hours-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
    margin-top: 30px;
}

.admin-office-hours-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}












