body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------ADMIN general-----------------------------*/
.admin-base-grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px auto 45px;
    background: #ffffff;
    min-height: 100vh;
    height: auto;
    grid-template-areas:
            "header title title title title title title title title"
            "header content content content content content content content content"
            "header footer footer footer footer footer footer footer footer";
}

.admin-content{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 40px;
    grid-area: content;
    position: relative;
}

.admin-header{
    background-color: #007183;
    grid-area: header;
    box-shadow: 11px 12px 7px #979797;
}

.admin-footer{
    grid-area: footer;
    display: flex;
    align-items: center;
}

.admin-footer{
    margin-left: auto;
    margin-right: auto;
}

.admin-footer > p {
    margin-bottom: 0;
    font-size: 14px;
}

.admin-edit-div{
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}

/*Adding new content admin*/
.admin-add-new-item-div{
    margin-left: auto;
    margin-right: auto;
}

.admin-add-new-item-div > form{
    padding: 30px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}

.form-title{
    color: #565960;
    margin-bottom: 1.5rem;
    font-size: 2em;
}

/*Edit content admin*/
.admin-edit-item-div{
    margin-left: auto;
    margin-right: auto;
}

.admin-edit-item-div > form{
    padding: 30px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}

.wider-button{
    padding: 7px 10px 7px 10px;
}

.small-button{
    padding: 2px 5px 2px 5px;
}

.sort-season-edit-button{
    width: 100%;
}

.sort-season-delete-button{
    margin-top: 3px;
    width: 100%;
}

.sort-season-detail-button{
    margin-top: 3px;
    width: 100%
}


/*-----------------ADMIN table-----------------------*/
.admin-table{
    width: 500px;
    background: #FFFFFF;
    border-radius: 7px;
}

table.admin-table tr th a{
    text-decoration: none;
    border: 0;
    padding: 0;
}

.image-in-table{
    width: 100px;
}

/*-----------------Title--------------------------------*/
.admin-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    grid-area: title;
    align-items: center;
}

.admin-title-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-title-user p a{
    text-decoration: none;
    color: #858796;
    font-size: 20px;
    padding: 0 4px 0 0;
}

.admin-title-user p a:hover{
    text-decoration: none;
    color: red;
}

.admin-title .admin-title-user span{
    color: #007183;
    font-size: 20px;
    border-left: 1px solid grey;
    padding-left: 5px;
}

.admin-title-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid grey;
    padding-left: 5px;
    height: 30px;
}

.admin-title-user > img{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.admin-title-user > p {
    margin-bottom: 0;
}

.admin-title-text span.detail-user-name{
    color: grey;
    font-size: 20px;
}

.admin-title-text h1{
    margin-bottom: 0;
    margin-left: 0;
}


/*-----------------SideMenu--------------------------------*/
.admin-header > ul > a .sidebar-brand-icon i.admin-ukf-logo{
    display: block;
    background: url("../../img/ukf_logo_white.png") no-repeat;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    border: 0;
}
.sidebar-brand{
    margin-top: 10px;
}

.dashboard-admin > a > span{
    font-size: 20px;
}

.admin-menu-links-hover:hover{
    background-color: #0093aadb;
}

li.admin-menu-links-hover:hover{
    cursor: pointer;
}


span[class='dashboard-admin']{
    font-size: 30px;
}
/*-----------------END ADMIN general------------------------*/





/*-----------------Dashboard---------------------------------*/
.admin-welcome-page{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px auto 45px;
    background: #ffffff;
    height: 100vh;
    grid-template-areas:
    "header title title title title title title title title"
    "header content content content content content content content content"
    "header footer footer footer footer footer footer footer footer";
}

.admin-welcome-content{
    display: flex;
    flex-direction: column;
    grid-area: content;
    position: relative;
    padding: 20px 20px 20px 50px;
}

.admin-welcome-content > .container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.summary-1-sections{
    margin-top: auto;
    margin-bottom: auto;
}

.summary-1-cards{
    display: grid;
}

.card-body-item{
    margin-left: 20px;
    margin-right: 20px;
}

.summary-1-sections > div{
    margin-bottom: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
}

.card-graph{
    justify-content: center;
}

/*-----------------Users-------------------------*/
.user-form-actions{
    width: 200px;
}

.user-table-wrapper{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.user-table-wrapper .user-table-title {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-table-wrapper .user-table-title button.btn-add{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    padding-left: 20px;
}

a[class="page-link"]{
    color: #007183;
}

a[class='page-link']:hover{
    color: #339F98;
}

.admin-users-pagination {
    display: block;
}

.admin-users-pagination > ul {
    justify-content: center;
}

.admin-projects-diagram{
    padding-left: 12px;
}

.admin-projects-diagram > div {
    min-width: 500px;
    width: 500px;
}

/*---UserDetail--*/
.detail-user-content{
    display: flex;
    flex-direction: column;
}

.user-detail-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-user-content h3 span{
    color: black;
}

.detail-user-event-history{
    margin-top: 50px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}

.detail-user-event-history > h2{
    padding: 20px;
}

.user-detail-mobility-state-cell{
    color: red;
}


/*-----------------Mobility page--------------------*/
.admin-mobilities-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-mobilities-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


/*-----------------Seasons page--------------------*/
.admin-season-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 20px;
}

.admin-season-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#addNewSeasonForm{
    width: 500px;
}

.season-table-list{
    list-style-type: none;
}

.typeahead, .tt-query, .tt-hint {
    height: 40px;
    font-family: Cairo-Regular, serif;
    font-size: 20px;
    padding-left: 10px;
    border: solid 1px #a6a6a6;
}

.typeahead {
    background-color: #FFFFFF;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    width: 103%;
    font-family: Cairo-Regular, serif;
    font-size: 18px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
    font-size: 18px;
    padding: 3px 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #007183;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}
/*----FILTER------*/
.season-filter-main{
    display: flex;
    flex-direction: column;
}

.season-filter-section-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.season-filter-main .season-filter-section-1 .season-selections,
.season-filter-main .season-filter-section-2 .season-selections,
.season-filter-main .season-filter-section-3 .season-filter-section-3-content .season-selections
{
    width: 210px;
}

.season-filter-section-1 > select:nth-child(2),
.season-filter-section-2 > input:nth-child(2),
.season-filter-section-3 .season-filter-section-3-content > select[id=sortType]
{
    margin-left: 15px;
    margin-right: 15px;
}

.season-filter-section-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.season-filter-section-3{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.season-filter-section-3-content{
    display: flex;
    flex-direction: row;
}

.season-filter-section-4{
    display: flex;
    flex-direction: column;
    width: 435px;
}

.season-filter-section-4 .season-filter-section-4-content-1{
    display: flex;
    flex-direction: row;
}

.column-1{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column-2{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.column-2 > button:nth-child(2){
    margin-left: 10px;
}

.season-filter-section-4-content-1 > .column-1 > .row-1,
.season-filter-section-4-content-1 > .column-1 > .row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.season-filter-section-4-content-1 > .column-1 > .row-1 > input,
.season-filter-section-4-content-1 > .column-1 > .row-2 > input{
    margin-left: 10px;
}

.season-filter-section-4-content-1 > div:first-child > input{
    margin-left: 10px;
}

.season-filter-section-university{
    margin-bottom: 15px;
}

.season-filter-section-university > select[id=universities]{
    width: 435px;
}

a.reset-season-filter:hover{
    text-decoration: none;
}

.season-filter-section-4 .season-filter-section-4-content-1 .column-1 .row-1 .sort-filter-checkbox,
.season-filter-section-4 .season-filter-section-4-content-1 .column-1 .row-2 .sort-filter-checkbox{
    width: 20px;
    height: 20px;
    margin-right: 40px;
}

.admin-season-main-content{
    margin-top: 20px;
    border: 1px solid #4444443d;
    padding: 10px;
}

.admin-season-title-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.season-title-sort{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.season-title-sort > label{
    margin-bottom: 0;
    margin-left: 10px;
}


/*-----------------Roles page-------------------------*/
.admin-roles-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-roles-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*---------------Mobility category page------------------*/
.admin-mobility-category-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 30px;
}

.admin-mobility-category-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

/*-----Add mobility type----*/
.form-add-mobility-type > h3{
    color: #565960;
}

.admin-form-input{
    color: #0b0b0b;
}

.form-group-button{
    text-align: right;
    margin-top: 3rem;
}

.form-group-button > button{
    padding: 5px 30px;
}


/*-----------------Mobility type page---------------------*/
.admin-mobility-type-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-mobility-type-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


/*-----------------Blogs page------------------------------*/
.admin-blogs-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-blogs-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.admin-blog-table{
    font-size: 20px;
}

.admin-blog-table:hover{
    color: red;
    text-decoration: none;
}

.detail-container{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 25px;
}

.blog-detail-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.blog-detail--title{
    display: flex;
    flex-direction: row;
}

/*.blog-detail--title > h1 {*/
/*    text-decoration: underline;*/
/*}*/

.left-side-title{
    align-items: baseline;
}

.blog-detail-active-not-status{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.blog-detail-active-status{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: green;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*-----------------Universities page--------------------*/
.admin-universities-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-universities-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

/*----Edit university-----*/
.admin-edit-university-image{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/*-----------------Images page--------------------------*/
.admin-images-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-images-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}


/*-------------FAQ page----------------------------*/
.admin-FAQ-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-images-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.obsah-iframe{
    width: -webkit-fill-available;
    width: -moz-available;
}



/*-------------Office_hours page------------------------*/
.admin-office-hours-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-office-hours-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

/*-------------Reviews page------------------------*/
.admin-review-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-review-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
/*---Detail---*/
.detail-review-content h3 span{
    color: black;
}

.detail-review-images-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
}

.detail-review-images-container > h2{
    padding: 20px;
}

.detail-review-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    position: relative;
    padding: 0 20px 20px 20px;
}

/*.detail-review-images:last-child{*/
/*    justify-content: left;*/
/*}*/

.review--image{
    position: relative;
    /*flex: 1 0 13%;*/
    transition: 0.6s;
}

.review--image img:nth-child(1){
    width: 215px;
    margin: 5px;
    /*flex: 1 0 17%;*/
    transition: 0.6s;
}

.review--image img:nth-child(1):hover{
    cursor: pointer;
    opacity: 0.7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: 0.6s;
    transform: scale(1.1);
}

.review-delete-icon{
    display: none;
    animation-duration: 3s;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35%;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.review-revert-icon{
    display: none;
    animation-duration: 3s;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35%;
    left: 0;
    right: 0;
    bottom: auto;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/*----Edit-------------*/
.admin-switch-div{
    display: flex;
    align-items: center;
}

.admin-switch-div > label:nth-child(1){
    margin-right: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*-------------Countries--------------------------------*/
.admin-countries-table{
    border: 1px solid #CED0D5;
    box-shadow: 0 0 15px #cecece;
    padding: 10px;
}

.admin-countries-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}










