div#contact h3 {
    font-family: Cairo-Black, serif;
    font-size: 20px;
    color: #007183;
}

div#contact h3.contact-title {
    margin-top: 30px;
}

div#contact h3.contact-title.hours, div#contact h3.contact-title.address {
    font-family: Cairo-Bold, serif;
    font-size: 28px;
}

div#contact ul > li {
    font-family: Cairo-Regular, serif;
    font-size: 18px;
    margin-top: 5px;
}

div#contact ul > li > span.item-name {
    font-family: Cairo-Bold, serif;
    font-size: 18px;
    padding-left: 20px;
    color: #000000;
}

@media only screen and (max-width: 992px) {
    div#contact ul, div#contact h3 {
        text-align: center;
    }
}