#mainNav {
    position: absolute;
    font-family: Cairo-Regular, serif;
    background-color: #eee;
}

#mainNav .navbar-brand {
    color: #343a40
}

#mainNav a.navbar-brand i.erasmus-logo {
    width: 150px;
    height: 100px;
    display: block;
    background: url("../../img/erasmus_logo_light_blue.png") no-repeat;
    background-size: 150px 100px;
}

#mainNav a.navbar-brand i.erasmus-logo:hover {
    background: url("../../img/erasmus_logo_blue.png") no-repeat;
    background-size: 150px 100px;
}

#mainNav ul .navbar-brand i.ukf-logo {
    width: 100px;
    height: 100px;
    background: url("../../img/ukf_logo_blue.png") no-repeat;
    background-size: 100px 100px;
    display: none;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    color: #343a40;
    background: url("../../img/toogle_navigation-blue.png") no-repeat;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 20px;
    border-bottom: solid 2px transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
}

@media only screen and (min-width: 992px) {
    #mainNav a.navbar-brand i.erasmus-logo {
        background: url("../../img/erasmus_logo_white.png") no-repeat;
        background-size: 150px 100px;
    }

    #mainNav ul .navbar-brand i.ukf-logo {
        display: block;
        background: url("../../img/ukf_logo_white.png") no-repeat;
        background-size: 100px 100px;

    }

    #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent
    }

    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #fff
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
        border-bottom: solid 2px #23b9ce;
    }

    #mainNav .navbar-nav > li.nav-item > a.active,
    #mainNav .navbar-nav > li.nav-item > a.active {
        border-bottom: solid 2px #23b9ce;
    }

    #mainNav a.navbar-brand i.erasmus-logo:hover {
        background: url("../../img/erasmus_logo_light_blue.png");
        background-size: 150px 100px;
    }

    #mainNav a.navbar-brand i.ukf-logo:hover {
        background: url("../../img/ukf_logo_blue.png");
        background-size: 100px 100px;
    }
}

@media only screen and (min-width: 992px) {
    #mainNav {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden
    }

    #mainNav.is-fixed {
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.9)
    }

    #mainNav.is-fixed .navbar-brand {
        color: #212529
    }

    #mainNav.is-fixed .navbar-nav .links > li.nav-item > a {
        color: #212529
    }

    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}