.newsletter-background {
    background-color: #007183;
    height: 130px;
    margin-top: 40px;
}

div#newsletter > div.container-fluid {
    padding: 0;
}

.newsletter-background > h2 {
    font-family: Cairo-Bold, serif;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 20px;
}

.newsletter-background > a {
    width: 300px;
    display: block;
    margin: 10px auto 0;
    padding: 10px;
    font-family: Cairo-Bold, serif;
    font-size: 25px;
    background-color: #ffffff;
    color: #007183;
    border-radius: 5px;
}

.newsletter-background a:hover {
    text-decoration: none;
    background-color: #00b0cc;
    color: #ffffff;
}

@media only screen and (max-width: 992px) {
    .newsletter-background{
        height: 120px;
    }

    .newsletter-background > h2 {
        font-size: 25px;
    }

    .newsletter-background a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .newsletter-background > h2 {
        font-size: 20px;
    }

    .newsletter-background a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .newsletter-background > h2 {
        font-size: 15px;
    }

    .newsletter-background a {
        font-size: 13px;
    }
}